::-webkit-scrollbar{
    width: 0px;
}

html, body{
    width: 100%;
    display: block;
    font-size: 12px;
    margin: 0;
}
.spanApplicant{
    min-width: 25%;
}
#topLine{
    width: 100%;
    height: 140px;
    display: -webkit-inline-box;
    font-size: 14px;
}
#topLineText{
    width: 100%;
}
#image{
    width: 30mm;
    height: 35mm;
    border: 1px solid;
}
#stock{
    width: 100%;
    display: inline-block;
}
#regestration{
    display: inline-block;
}
#kurs{
    display: inline-block;
    float: right;
}

#derector{
    margin-top: 10px;
    text-align: center;
}

#dataApplicant{
    width: 100%;
}
.sevenLine{
    width: 120%;
    display: inline-block;
    margin: 5px 0 5px 0;
}
#line2{
    display: flex;
}
.spanApplicant1{
    flex-grow: 4;
}
#kyda{
    width: 120%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#osebe{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 120%;
}
#rospis{
    border-bottom: 1px solid;
    width: 80%;
    height: 15px;
    display: inline-block;
}
TD.leftcol{
    width: 100%;
    border: 1px solid;
}
TD.rightcol{
    width: 30%;
    border: 1px solid;
}
#time{
    float: right;
}
#pospisSotr{
    border: 1px solid;
    width: 300px;
    display: inline-block;
}


#readApplicant{
    display: none;
}