body{
    margin: 0;
    overflow: hidden;
    background: white;
    font-size: 18px;
}
#user{
    width: 500px;
    height: 350px;
    background: lightskyblue;
    margin: 10% auto;
    border-radius: 40px;
    border: 15px solid gainsboro;
    font-family: monospace;
}
.top-line-autorization{
    width: 90%;
    margin: 10px auto;
    height: 40px;
    font-size: 40px;
    color: white;
}
.body-autorization{
    width: 90%;
    height: calc(100% - 160px);
    margin: 10px auto;
    font-size: 28px;
}
.login{
    font-size: 21px;
    width: 100%;
}
.enter-autorization{
    width: 50%;
    height: 15%;
    background: lightblue;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid cadetblue;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}